@{
    ViewData["Title"] = "New Ticket";
}
<div class="container my-4">
    <h4 class="mb-4">New Ticket</h4>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="card p-4">
                <h5 class="mb-4 fw-bold">TICKET INFORMATION</h5>
                <div class="dropdown mb-3">
                    <button class="btn border dropdown-toggle" type="button" id="addCustomerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus"></i>
                        <span>Add Customer</span>
                    </button>
                    <div class="dropdown-menu p-3 w-100" aria-labelledby="addCustomerDropdown">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-white">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="form-control border-start-0" id="customerSearch" placeholder="Search name or contact info">
                        </div>
                        <hr class="dropdown-divider" />

                        <ul class="list-group">
                            <li class="list-group-item d-flex align-items-center dropdown-item p-0 border-0">
                                <img src="~/images/user.png" class="rounded-circle me-3" alt="User Image">
                                <div>
                                    <strong>ABC</strong>
                                    <div class="text-muted">abc9898@gmail.com</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="Title" placeholder="Add title...">
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" id="Description" rows="4" placeholder="Enter description..."></textarea>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Priority" class="form-label">Priority</label>
                        <select class="form-select" id="Priority">
                            <option value="">None</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            <option value="Critical/Blocker">Critical / Blocker</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="Severity" class="form-label">Severity</label>
                        <select class="form-select" id="Severity">
                            <option value="">None</option>
                            <option value="Minor">Minor</option>
                            <option value="Moderate">Moderate</option>
                            <option value="Major">Major</option>
                            <option value="Critical/ShowStopper">Critical / ShowStopper</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Channel" class="form-label">Channel</label>
                        <input type="text" class="form-control" id="Channel" placeholder="Channel">
                    </div>
                    <div class="col-md-6">
                        <label for="Status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="Status" placeholder="Status">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="Tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="Tags" placeholder="Tags">
                    </div>
                    <div class="col-md-6">
                        <label for="Types" class="form-label">Types</label>
                        <input type="text" class="form-control" id="Types" placeholder="Types">
                    </div>
                </div>
                <div>
                    <label for="Attachments" class="form-label">Attachments</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-paperclip"></i>
                        </span>
                        <input type="text" class="form-control" id="Attachments" placeholder="Upto 20MB">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card p-4">
                <h5 class="mb-4 fw-bold">DETAILS</h5>
                <div class="mb-3">
                    <label class="form-label">Assignee</label>
                    <input type="text" class="form-control" placeholder="Assignee">
                </div>
                <div class="mb-3">
                    <label class="form-label">Team</label>
                    <input type="text" class="form-control" placeholder="Team">
                </div>
                <div class="mb-3">
                    <label class="form-label">Assigned Type</label>
                    <input type="text" class="form-control" placeholder="Type">
                </div>
                <hr class="my-3" />
                <div class="mt-2">
                    <h6 class="my-2">User Data</h6>
                    <div class="d-flex align-items-center mb-3">
                        <img src="~/images/user.png" class="rounded-circle me-3" alt="User Image">
                        <strong>ABC</strong>
                        <a href="#" class="ms-auto">
                            <i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Organization</label>
                        <input type="text" class="form-control" placeholder="Organization">
                    </div>
                </div>
                <hr class="my-3" />
                <h6>Followers</h6>
                <input type="text" class="form-control mb-3" placeholder="Add followers" />
                <h6>Additional Details</h6>
                <textarea class="form-control" rows="3" placeholder="Add additional details"></textarea>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary me-2">Create</button>
        <button class="btn btn-secondary" type="button">Cancel</button>
    </div>
</div>