@{
    ViewData["Title"] = "All Tickets";
}
<div class="container tables-container my-4">
    <h4>All Tickets</h4>
    <p class="text-muted">Keep tracks of all your tickets in one place--easily view, search, and manage them efficiently.</p>
    <div class="d-flex flex-column flex-md-row gap-3">
        <button class="btn btn-outline-primary d-flex align-items-center gap-2" type="button">
            <i class="fa-solid fa-sliders"></i> Filter
        </button>
        <div class="border w-auto" id="ticketActions">
            <div class="d-flex align-items-center ticket-actions">
                <span class="fw-bold ms-2 me-4">1 ticket</span>
                <a href="#" class="text-black text-decoration-none">
                    <i class="fa-solid fa-pen me-1"></i>
                    <span class="me-3">Edit</span>
                </a>
                <br />
                <a href="#" class="text-black text-decoration-none">
                    <i class="fa-solid fa-trash me-1"></i>
                    <span>Delete</span>
                </a>
                <button class="btn text-danger text-decoration-none ms-auto ticket-cancel-btn" type="button">
                    <i class="fa-solid fa-xmark me-1"></i>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr class="card-header">
                            <th scope="col"><input type="checkbox" id="selectAll"></th>
                            <th scope="col">Ticket Status</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Requester</th>
                            <th scope="col">Requested</th>
                            <th scope="col">Type</th>
                            <th scope="col">Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" class="ticket-checkbox"></td>
                            <td><span class="badge badge-new"><i class="fa-solid fa-user-plus me-2"></i>New</span></td>
                            <td>
                                <a asp-controller="Tickets" asp-action="ViewTickets">
                                    Report not working
                                </a>
                            </td>
                            <td>Bryan</td>
                            <td>3 days ago</td>
                            <td>Problem</td>
                            <td><img src="~/images/user.png" alt="Assignee"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="ticket-checkbox"></td>
                            <td><span class="badge badge-onhold"><i class="fa-solid fa-pause me-2"></i>On Hold</span></td>
                            <td>Error in line item</td>
                            <td>Bryan</td>
                            <td>3 days ago</td>
                            <td>Complaint</td>
                            <td><img src="~/images/user.png" alt="Assignee"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="ticket-checkbox"></td>
                            <td><span class="badge badge-inprogress"><i class="fa-solid fa-clock me-2"></i>In Progress</span></td>
                            <td>Student details</td>
                            <td>Bryan</td>
                            <td>3 days ago</td>
                            <td>Incident</td>
                            <td><img src="~/images/user.png" alt="Assignee"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="ticket-checkbox"></td>
                            <td><span class="badge badge-new"><i class="fa-solid fa-user-plus me-2"></i>New</span></td>
                            <td>Student details</td>
                            <td>Bryan</td>
                            <td>3 days ago</td>
                            <td>Feature request</td>
                            <td><img src="~/images/user.png" alt="Assignee"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="card ticket-card mt-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ticket-info me-3">
                            <div class="ticket-icon bg-light rounded-circle border">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div class="ticket-info-checkbox">
                                <input type="checkbox" class="form-check-input">
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-0 fw-bold">Issue with student details</h6>
                            <small class="text-muted">#1101 • Bryan • <i class="fa-regular fa-clock"></i> 09 Jan</small>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="ticket-edit-delete me-3">
                            <button class="btn btn-sm ticket-edit" title="Edit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="btn btn-sm ticket-delete" title="Delete">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                        <span class="badge badge-inprogress me-3"><i class="fa-solid fa-clock me-2"></i>In Progress</span>
                        <img src="/images/user.png" class="rounded-circle">
                    </div>
                </div>
            </div>
        </div>
        <div class="card ticket-card mt-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="ticket-info me-3">
                            <div class="ticket-icon bg-light rounded-circle border">
                                <i class="fa-solid fa-phone-volume"></i>
                            </div>
                            <div class="ticket-info-checkbox">
                                <input type="checkbox" class="form-check-input">
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-0 fw-bold">Issue with student details</h6>
                            <small class="text-muted">#1101 • Bryan • <i class="fa-regular fa-clock"></i> 09 Jan</small>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="ticket-edit-delete me-3">
                            <button class="btn btn-sm ticket-edit" title="Edit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="btn btn-sm ticket-delete" title="Delete">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                        <span class="badge badge-inprogress me-3"><i class="fa-solid fa-clock me-2"></i>In Progress</span>
                        <img src="/images/user.png" class="rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>