.layout-wrapper > .before-header,
.layout-wrapper > .after-header,
.layout-wrapper > .after-main,
.layout-wrapper > .before-footer,
.layout-wrapper > .footer,
.layout-wrapper > .after-footer {
    display: none !important;
}

.layout-wrapper > * {
    padding: 0;
}

/*Header*/
.header {
    padding: 15px;
}

/*Navbar*/
.navbar-icon {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


    .navbar-icon i {
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

.dropdown-menu {
    z-index: 1050;
}

    .dropdown-menu span {
        padding: 0 0.5rem;
        color: #6c757d;
    }

.navigation {
    padding: 15px;
    width: 170px;
    transition: width 0.3s ease;
}

    .navigation.collapsed {
        width: 80px;
    }

        .navigation.collapsed .navbar-icon span,
        .navigation.collapsed .create-button span,
        .navigation.collapsed .dropdown-toggle {
            display: none;
        }

.toggle-btn {
    position: absolute;
    left: 150px;
    top: 120px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .toggle-btn.collapsed {
        left: 60px;
    }

    .toggle-btn i {
        transition: transform 0.3s ease;
    }

    .toggle-btn.collapsed i {
        transform: rotate(180deg);
    }

/*Create Tickets*/
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-customer-dropdown {
    min-width: 400px;
    min-height: 300px;
}
