<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticket_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <div class="layout-wrapper">
        <header class="header">
            <div class="d-flex justify-content-between align-items-center">

                <div class="d-flex align-items-center">
                    <img class="me-2" src="~/images/repl_logo.png" />
                    <span>REPL SOLUTIONS</span>
                </div>

                <div class="d-flex align-items-center top-icons">
                    <button class="btn me-1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <button class="btn me-1">
                        <i class="fa-regular fa-bell"></i>
                    </button>
                    <button class="btn me-1">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                    <div>
                        <button class="btn" type="button" id="accountMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountMenuButton">
                            <li><span>Account</span></li>
                            <li class="dropdown-header">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/user.png" alt="User Profile" class="rounded-circle me-2" />
                                    <div>
                                        <strong>ABC</strong><br />
                                        <small>abc@gmail.com</small>
                                    </div>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item me-4" href="#">Manage account <i class="fa-solid fa-up-right-from-square float-end"></i></a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Help <i class="fa-solid fa-chevron-right float-end"></i></a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item text-danger" href="#">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navigation min-vh-100">
            <div class="btn-group">
                <button type="button" class="btn btn-light create-button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-plus"></i>
                    <span>Create</span>
                </button>
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><span>Create New</span></li>
                    <li><hr class="my-0" /></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Tickets" asp-action="Create">
                            <i class="fa-solid fa-ticket"></i>
                            <span>Tickets</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Users" asp-action="Create" data-bs-toggle="modal" data-bs-target="#createUserModal">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>Users</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-icon">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-white">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </div>
            <div class="navbar-icon">
                <a asp-controller="Tickets" asp-action="Index" class="text-decoration-none text-white">
                    <i class="fa-regular fa-file"></i>
                    <span>Tickets</span>
                </a>
            </div>
            <div class="navbar-icon">
                <a asp-controller="Users" asp-action="Index" class="text-decoration-none text-white">
                    <i class="fa-solid fa-users"></i>
                    <span>Users</span>
                </a>
            </div>
            <div class="navbar-icon">
                <a asp-controller="Reports" asp-action="Index" class="text-decoration-none text-white">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>Reports</span>
                </a>
            </div>
        </nav>

        <button class="toggle-btn btn btn-light rounded-circle border shadow-sm">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <main role="main" class="content container pb-3">
            @RenderBody()
        </main>

    </div>

    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Create a New User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="userName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="userName" placeholder="ABC" />
                        </div>
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="userEmail" placeholder="example@gmail.com" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">User</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="customer" value="customer" />
                                <label class="form-check-label" for="customer">Customer</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="agent" value="agent" />
                                <label class="form-check-label" for="agent">Agent</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="customerType" class="form-label">Customer Type</label>
                                <select class="form-select" id="customerType">
                                    <option value="">None</option>
                                    <option value="Individual">Individual</option>
                                    <option value="Corporate">Corporate</option>
                                    <option value="VIP">VIP</option>
                                    <option value="Reseller">Reseller</option>
                                    <option value="Partner">Partner</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="userPhone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="userPhone" placeholder="+977 - 9812121212" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
